Question 1:

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [11]:
def is_symetrical(num):
    """ whether the number is symmetrical or not
    A number is symmetrical when it is the same as
    its reverse."""
    str_form=str(num)
    reverse_str=str_form[::-1]
    reverse_no=int(reverse_str)
    return num==reverse_no
print(is_symetrical(1112111))
print(is_symetrical(7227))
print(is_symetrical(12567))
print(is_symetrical(44444444))
print(is_symetrical(9939))

True
True
False
True
False

Question 2:
    
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [14]:
def multiply_nums(string):
    """ return the product of the
numbers """
    l=string.split(",")
    outcome=1
    for i in l:
        outcome*=int(i)
    return outcome
print(multiply_nums("2,3"))
print(multiply_nums("1,2,3,4"))
print(multiply_nums("54,75,453,0"))
print(multiply_nums("10, -2"))

6
24
0
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [21]:
def square_digits(num):
    l=[]
    m=[]
    Result=""
    string_form_of_num=str(num)#"9119"
    # here we converted integer input into string
    for i in string_form_of_num:
        l.append(int(i)**2)#l=[81,1,1,81]
    #we apply square operation in string form of input
    for j in l:
        m.append(str(j))# m=["81","1","1","81"]
    for k in m:
        Result+=k
    finalresult=int(Result)
    return finalresult
print("square_digits of (9119) : " ,square_digits(9119))
print("square_digits(2483) : " ,square_digits(2483))
print("square_digits(3212) : ", square_digits(3212))

square_digits of (9119) :  811181
square_digits(2483) :  416649
square_digits(3212) :  9414

Question 4:

Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [28]:
def setify(l):
    """ sorts a list and removes all duplicate items from it"""
    Set=set(l)
    return list(Set)
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4,4,4]))
print(setify([3, 3, 3, 2, 1]))

[5, 7, 8, 9, 10, 15]
[1, 3, 5]
[4]
[1, 2, 3]

Question 5:
    
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [29]:
def mean(n):
    """returns the mean of all digits. """
    in_stringform=str(n)
    denominator=len(in_stringform)
    Sum=0
    for i in in_stringform:
        Sum+=int(i)
    Mean=(Sum/denominator)
    return int(Mean)
print(mean(512))
print(mean(42))
print(mean(12345))
print(mean(666))

2
3
3
6